.companies {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.companies_img {
    // width: 335px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 32px;
}

.companies > hr {
    width: 268px;
    height: 1px;
    background-color: #E5E7EB;
}
#hr1 { margin-top: 78px; }

.row {
    display: flex;
    gap: 64px;
    transition: all;
}
.c1:active, .c2:active, .c3:active, .c4:active, .c5:active, .c6:active {transform: scale(0.98);}


@media screen and (min-width: 375px){
    .companies_img {
        width: 335px;
    }
    .companies > hr {
        width: 335px;
    }
}

@media screen and (min-width: 772px) {

    .companies_img,
    .companies > hr {
        width: 668px;
    }
}

@media screen and (min-width: 1440px) {

    .companies_img,
    .companies > hr {
        width: 1075px;
    }
}