.features {
    display: flex;
    flex-flow: column wrap;
    gap: 48px;
    margin-bottom: 48px;
}

.features_text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features_text > h1 {
    margin: 0;
    // width: 335px;
    width: 285px;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.025em;
    font-feature-settings: 'liga' off;
    color: var(--blue_text);
}

.features_text > p {
    // width: 335px;
    width: 285px;
    color: var(--blue_text);
}

.features_item_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 48px;
}

.features_item {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.features_item_text_wrap {
    width: 203px;
    text-align: center;
}

.features_item_text_wrap > h5 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'liga' off;
    color: var(--text_color_fortittles);
}

.features_item_text_wrap > p {
    color: var(--text_color_foritems);
}


@media screen and (min-width: 375px) {
    .features_text > h1,
    .features_text > p {
        width: 335px;
    }
    .features_item_text_wrap {
        width: 303px;
    }
}

@media screen and (min-width: 772px) {

    .features_text>h1,
    .features_text>p {
        width: 688px;
    }

    .features_item_wrap {
        flex-flow: row wrap;
        justify-content: center;
        gap: 62px;
    }
}

@media screen and (min-width: 1440px) {

    .features_text>h1,
    .features_text>p {
        width: 800px;
    }

    .features_text>h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .features_item_wrap {
        align-items: center;
        gap: 62px;
    }
}