<section class="achieves">
    <div class="achieves_text">
        <h1>Our 18 years of achievements</h1>
        <p class="p_large">With our super powers we have reached this</p>
    </div>
    <div class="achieves_info">
        <div class="achieves_info_1">
            <div class="achieves_item">
                <div class="achieves_item_img">
                    <img src="./assets/svg/b1.svg" alt="b1">
                </div>
                <div class="achieves_item_text">
                    <h3>10,000+</h3>
                    <p class="p_mini">Downloads per day</p>
                </div>
            </div>
            <div class="achieves_item">
                <div class="achieves_item_img">
                    <img src="./assets/svg/b4.svg" alt="b4">
                </div>
                <div class="achieves_item_text">
                    <h3>2 Million</h3>
                    <p class="p_mini">Users</p>
                </div>
            </div>
        </div>
        <div class="achieves_info_2">
            <div class="achieves_item">
                <div class="achieves_item_img">
                    <img src="./assets/svg/b5.svg" alt="b5">
                </div>
                <div class="achieves_item_text">
                    <h3>500+</h3>
                    <p class="p_mini">Clients</p>
                </div>
            </div>
            <div class="achieves_item">
                <div class="achieves_item_img">
                    <img src="./assets/svg/b7.svg" alt="b7">
                </div>
                <div class="achieves_item_text">
                    <h3>140</h3>
                    <p class="p_mini">Countries</p>
                </div>
            </div>
        </div>
    </div>
</section>