<section class="companies">
    <hr id="hr1">
    <div class="companies_img">
        <div class="row">
            <div class="c1">
                <a href="#"><img src="../assets/svg/c1.svg" alt="c1"></a>
            </div>
            <div class="c2">
                <a href="#"><img src="../assets/svg/c2.svg" alt="c2"></a>
            </div>
        </div>
        <div class="row">
            <div class="c3">
                <a href="#"><img src="../assets/svg/c3.svg" alt="c3"></a>
            </div>
            <div class="c4">
                <a href="#"><img src="../assets/svg/c4.svg" alt="c4"></a>
            </div>
        </div>
        <div class="row">
            <div class="c5">
                <a href="#"><img src="../assets/svg/c5.svg" alt="c5"></a>
            </div>
            <div class="c6">
                <a href="#"><img src="../assets/svg/c6.svg" alt="c6"></a>
            </div>
        </div>
    </div>
    <hr>
</section>