<section class="features">
    <div class="features_text">
        <h1>Tailor-made features</h1>
        <p class="p_large">
            Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a document or visual
            presentation.
        </p>
    </div>
    <div class="features_item_wrap">
        <div class="features_item">
            <div class="features_item_img_wrap">
                <img src="../assets/svg/b1.svg" alt="b1">
            </div>
            <div class="features_item_text_wrap">
                <h5>Robust workflow</h5>
                <p class="p_medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.
                </p>
            </div>
        </div>
        <div class="features_item">
            <div class="features_item_img_wrap">
                <img src="../assets/svg/b2.svg" alt="b2">
            </div>
            <div class="features_item_text_wrap">
                <h5>Flexibility</h5>
                <p class="p_medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.
                </p>
            </div>
        </div>
        <div class="features_item">
            <div class="features_item_img_wrap">
                <img src="../assets/svg/b3.svg" alt="b3">
            </div>
            <div class="features_item_text_wrap">
                <h5>User friendly</h5>
                <p class="p_medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.
                </p>
            </div>
        </div>
        <div class="features_item">
            <div class="features_item_img_wrap">
                <img src="../assets/svg/b4.svg" alt="b4">
            </div>
            <div class="features_item_text_wrap">
                <h5>Multiple layouts</h5>
                <p class="p_medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.
                </p>
            </div>
        </div>
        <div class="features_item">
            <div class="features_item_img_wrap">
                <img src="../assets/svg/b5.svg" alt="b5">
            </div>
            <div class="features_item_text_wrap">
                <h5>Better components</h5>
                <p class="p_medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.
                </p>
            </div>
        </div>
        <div class="features_item">
            <div class="features_item_img_wrap">
                <img src="../assets/svg/b6.svg" alt="b6">
            </div>
            <div class="features_item_text_wrap">
                <h5>Well organised</h5>
                <p class="p_medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.
                </p>
            </div>
        </div>
    </div>
</section>