<footer class="footer">
    <div class="footer_list">
        <div class="footer_wrap_logo">
            <a href="#">
                <img src="./assets/svg/logo_icon.svg" alt="logo">
            </a>
        </div>
        <nav class="footer_nav">
            <ul id="footer_nav_ul_row1">
                <li><a href="#">Download Now</a></li>
                <li><a href="#">License</a></li>
            </ul>
            <ul id="footer_nav_ul_row2">
                <li><a href="#">About</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <p class="p_mini" id="footer_license_p">© 2021 Landify UI Kit. All rights reserved</p>
    </div>
    <div class="footer_getapp">
        <p class="p_large" id="footer_getapp_p">
            Get the App
        </p>
        <div class="footer_getapp_btns">
            <div class="footer_getapp_btn_1">
                <a href="#">
                    <img src="../assets/svg/gplay.svg" alt="gplay">
                </a>
            </div>
            <div class="footer_getapp_btn_2">
                <a href="#">
                    <img src="../assets/svg/iplay.svg" alt="iplay">
                </a>
            </div>
        </div>
    </div>
</footer>