<section class="manage">
    <div class="manage_main">
        <div class="manage_text">
            <h1>Manage all projects from your mobile</h1>
            <p class="p_medium" id="manage_text_p">
                Download the app to manage your projects, keep track of the progress and complete tasks without
                procastinating.
                Stay on
                track and complete on time!
            </p>
        </div>
        <div class="manage_getapp">
            <p class="p_large" id="manage_getapp_p">Get the App</p>
            <div class="manage_getapp_btns">
                <div class="manage_getapp_btn_1">
                    <a href="#">
                        <img src="../assets/svg/gplay.svg" alt="gplay">
                    </a>
                </div>
                <div class="manage_getapp_btn_2">
                    <a href="#">
                        <img src="../assets/svg/iplay.svg" alt="iplay">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="manage_mobiles">
        <img src="./assets/img/mobilesForMobile.png" alt="2mobiles">
    </div>
    <div class="manage_mobiles_tablet">
        <img src="./assets/img/mobilesForTable.png" alt="2mobiles">
    </div>
    <div class="manage_mobiles_desktop">
        <img src="./assets/img/mobilesForDesktop.png" alt="2mobiles">
    </div>
</section>