    <section class="start">
        <div class="start_text_btns">
            <div class="start_text">
                <h1>The easiest way to manage projects</h1>
                <p class="p_large">
                    From the small stuff to the big picture, organizes the work so teams know what to do, why it
                    matters,
                    and how to get it
                    done.
                </p>
            </div>
            <div class="start_btns">
                <a href="#">
                    <button class="start_btn_1">
                        <p>Get Started</p>
                    </button>
                </a>
                <a href="#">
                    <button class="start_btn_2">
                        <span class="play_wrap">
                            <img src="../assets/svg/play.svg" alt="play">
                        </span>
                        <p>Watch Video</p>
                    </button>
                </a>
            </div>
        </div>

        <div class="start_phone">
            <img src="../assets/img/mobile.png" alt="mobile">
        </div>
    </section>