<section class="stories">
    <div class="stories_bg_quo">
        <img src="./assets/svg/qmark.svg" alt="quotes">
    </div>
    <div class="stories_title">
        <h1>Real Stories from Real Customers</h1>
        <p class="p_medium" id="stories_title_p">Get inspired by these stories.</p>
    </div>
    <div class="stories_blocks">
        <div class="stories_blocks_item_same">
            <div class="stories_blocks_item_iconWrap">
                <img src="./assets/svg/c1.svg" alt="c7">
            </div>
            <div class="stories_blocks_item_textWrap">
                <div class="stories_blocks_item_textWrap_quo">
                    <img src="./assets/svg/quotes.svg" alt="quotes">
                </div>
                <div class="stories_blocks_item_textWrap_text">
                    <p class="p_large" id="stories_blocks_item_textWrap_text_p">
                        I used landify and created a landing page for my startup within a week. The Landify UI Kit is
                        simple and highly
                        intuitive, so anyone can use it.
                    </p>
                    <div class="stories_blocks_item_textWrap_text_name">
                        <h3>Jane Cooper</h3>
                        <p class="p_mini" id="stories_blocks_item_textWrap_text_pMini">CEO, Airbnb</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="stories_blocks_item_same">
            <div class="stories_blocks_item_iconWrap">
                <img src="./assets/svg/c2.svg" alt="c2">
            </div>
            <div class="stories_blocks_item_textWrap">
                <div class="stories_blocks_item_textWrap_quo">
                    <img src="./assets/svg/quotes.svg" alt="quotes">
                </div>
                <div class="stories_blocks_item_textWrap_text">
                    <p class="p_large" id="stories_blocks_item_textWrap_text_p">
                        To quickly start my startup landing page design, I was looking for a landing page UI Kit.
                        Landify is one of the best
                        landing page UI kit I have come across. It’s so flexible, well organised and easily editable.
                    </p>
                    <div class="stories_blocks_item_textWrap_text_name">
                        <h3>Floyd Miles</h3>
                        <p class="p_mini" id="stories_blocks_item_textWrap_text_pMini">Vice President, GoPro</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="stories_blocks_item_same">
            <div class="stories_blocks_item_iconWrap">
                <img src="./assets/svg/c7.svg" alt="c7">
            </div>
            <div class="stories_blocks_item_textWrap">
                <div class="stories_blocks_item_textWrap_quo">
                    <img src="./assets/svg/quotes.svg" alt="quotes">
                </div>
                <div class="stories_blocks_item_textWrap_text">
                    <p class="p_large" id="stories_blocks_item_textWrap_text_p">
                        Landify saved our time in designing my company page.
                    </p>
                    <div class="stories_blocks_item_textWrap_text_name">
                        <h3>Kristin Watson</h3>
                        <p class="p_mini" id="stories_blocks_item_textWrap_text_pMini">Co-Founder, Strapi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
