<section class="tools">
    <div class="tools_text">
        <h1>Easy integrations with 170+ tools</h1>
        <p class="p_medium" id="tools_text_p">
            Connect Landify with your favourite tools that you use daily and keep things on track.
        </p>
    </div>
    <div class="tools_icons">
        <!-- <div class="tools_icons_row_1"> -->
        <img src="./assets/svg/t1.svg" alt="t1">
        <img src="./assets/svg/t2.svg" alt="t2">
        <img src="./assets/svg/t3.svg" alt="t3">
        <img src="./assets/svg/t4.svg" alt="t4">
        <!-- </div> -->
        <!-- <div class="tools_icons_row_2"> -->
        <img src="./assets/svg/t5.svg" alt="t5">
        <img src="./assets/svg/t6.svg" alt="t6">
        <img src="./assets/svg/t7.svg" alt="t7">
        <!-- </div> -->
    </div>
</section>